.Home{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
}

button{
    color: palegreen;
}


h2{
    color:black;
    text-shadow: 1px 1px 2px white;
}

p{
    text-shadow: 1px 1px 2px black;
}

h3{
    color: #4a3432;
    
}